{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         <h4>You can find me also on:</h4>
         {{ partial "social_buttons_in_contact.html" . }}
         {{ with .Site.Params.email }}
         <h4>Book dinner tickets</h4>
         <h5>Dinner tickets at £55 each, please complete this form and send BACS or cheque: once processed, we will email your tickets. Please print and bring on the day.</h5>
         <form id="contact-form" class="contact-form form" method="post" action="https://formspree.io/{{ . }}">
           <div class="controls">
             <div class="form-group">
               <label for="name">Your name *</label>
               <input type="text" name="name" id="name" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="email">Your email *</label>
               <input type="email" name="email" id="email" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="message">How many tickets? *</label>
               <input type="text" name="message" id="message" required="required" class="form-control"></input>
             </div>
             <div class="form-group">
               <label for="dietary">Any dietary requirements? *</label>
               <textarea rows="4" name="dietary" id="dietary" required="required" class="form-control"></textarea>
             </div>
             <div>
               <input type="submit" value="Send" class="btn btn-ghost">
             </div>
           </div>
         </form>
         <h4>Submit your abstract</h4>
         <h5>If you have a figure to supply with your abstract, please [INSERT CLUNKY EMAIL MECHANISM HERE]</h5>
         <form id="contact-form" class="contact-form form" method="post" action="https://formspree.io/{{ . }}">
           <div class="controls">
             <div class="form-group">
               <label for="name">Your name *</label>
               <input type="text" name="name" id="name" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="email">Abstract title *</label>
               <input type="text" name="title" id="title" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="abstract">Abstract *</label>
               <textarea rows="4" name="abstract" id="abstract" required="required" class="form-control"></textarea>
             </div>
             <div>
               <input type="submit" value="Send" class="btn btn-ghost">
             </div>
           </div>
         </form>
         <h4>Nominate for trainer of the year</h4>
         <h5>Let us know who has rocked your orthoworld</h5>
         <form id="contact-form" class="contact-form form" method="post" action="https://formspree.io/{{ . }}">
           <div class="controls">
             <div class="form-group">
               <label for="name">Your name *</label>
               <input type="text" name="name" id="name" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="email">Your email *</label>
               <input type="email" name="email" id="email" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="trainer">Who would you like to nominate? *</label>
               <input type="text" name="trainer" id="trainer" required="required" class="form-control"></input>
             </div>
             <div class="form-group">
               <label for="reason">Why? *</label>
               <textarea rows="4" name="reason" id="reason" required="required" class="form-control"></textarea>
             </div>
             <div>
               <input type="submit" value="Send" class="btn btn-ghost">
             </div>
           </div>
         </form>
         {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
